@media (max-width: 479px)
{
    /*---------------
        Page head
    ---------------*/
    .page_head .links a
    {
        padding: 5px 23px;
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section .images .image1,
    .second_section .images .image2
    {
        height: 320px;
    }


    .second_section .words
    {
        font-size: 24px;
        line-height: 40px;
    }


    .second_section .words > * + *
    {
        margin-left: 32px;
    }


    .second_section .words > *:nth-child(1),
    .animation.step4 .second_section .words > *:nth-child(2),
    .animation.step5 .second_section .words > *:nth-child(3)
    {
        font-size: 28px;
    }


    .animation.step4 .second_section .words
    {
        transform: translateX(-178px);
    }


    .animation.step5 .second_section .words
    {
        transform: translateX(-446px);
    }



    /*-----------------
        Credit info
    -----------------*/
    .credit_info .banks .row
    {
        margin-left: 0;
    }


    .credit_info .banks .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*------------------------
        Advantages project
    ------------------------*/
    .advantages_project .item1 .thumb img,
    .advantages_project .item2 .thumb img,
    .advantages_project .item3 .thumb img,
    .advantages_project .item4 .thumb img
    {
        height: 148px;
    }


    .advantages_project .item .name
    {
        font-size: 16px;

        padding: 20px;
    }



    /*-------------------
        About project
    -------------------*/
    .about_project .row
    {
        margin-bottom: calc(var(--block_offset_half) * -1);
    }


    .about_project .row > *
    {
        margin-bottom: var(--block_offset_half);
    }


    .about_project .item .thumb
    {
        width: 100%;
        padding-bottom: 100%;
    }


    .about_project .item .thumb:after
    {
        display: none;
    }


    .about_project .item .thumb + *
    {
        position: relative;
        z-index: 3;

        order: 2;

        margin-top: -49px;

        gap: 0;
    }



    /*-----------
        Flats
    -----------*/
    .flats .head .count
    {
        display: none;
    }



    .flats .flat .thumb
    {
        height: 140px;
        margin-bottom: 20px;
    }


    .flats .flat .info
    {
        padding-bottom: 11px;
    }


    .flats .flat .name
    {
        font-size: 18px;

        width: calc(100% - 112px);
    }


    .flats .flat .area
    {
        font-size: 18px;

        width: 92px;
    }


    .flats .flat .location
    {
        font-size: 14px;

        margin-top: 12px;
    }


    .flats .flat .price
    {
        font-size: 20px;

        margin-top: 12px;
    }



    .flats .list .flat .info
    {
        gap: 10px;
    }


    .flats .list .flat .price
    {
        font-size: 18px;

        margin-bottom: 8px;
    }



    /*--------------
        Parkings
    --------------*/
    .parkings .head .count
    {
        display: none;
    }



    .parkings .item .thumb
    {
        height: 140px;
    }


    .parkings .item .location
    {
        font-size: 14px;
    }


    .parkings .item .price
    {
        font-size: 18px;
    }


    .parkings .item .area
    {
        font-size: 18px;

        width: 100px;
    }


    .parkings .item .area sup
    {
        font-size: 10px;
    }


    .parkings .item .btn
    {
        font-size: 14px;

        padding: 5px 20px;
    }



    .parkings .list .item .favorite_btn
    {
        bottom: 56px;
    }



    /*---------------
        Flat info
    ---------------*/
    .flat_info .images .image
    {
        height: 300px;
    }


    .flat_info .images .tabs
    {
        gap: 8px;
    }


    .flat_info .images .tabs .btn
    {
        width: calc(50% - 4px);
        padding: 8px;
    }


    .flat_info .features
    {
        --font-size_title: 20px;
    }



    /*------------------
        Genplan item
    ------------------*/
    .genplan_item .floors
    {
        gap: 10px;
    }


    .genplan_item .floors > *
    {
        font-size: 10px;

        width: 64px;
        height: 64px;
    }


    .genplan_item .floors .val
    {
        font-size: 24px;
    }


    .genplan_item .features .label
    {
        font-size: 13px;
    }


    .genplan_item .compass
    {
        width: 64px;
        height: 64px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal .image
    {
        padding: var(--cont_padding);
    }


    .modal .data
    {
        padding-inline: var(--cont_padding);
    }
}
